.header {
    display: flex;
    flex-direction: column;
}

.header .header__title {
    margin: 0;
}

.header .header__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__actions button {
    margin: 0;
}